/*Mobile Menu Logo*/
.menu-collapser {
    background-image: url('../images/badge-dark.svg');
}

.menu-collapser {
    position: relative;
    background-color: #FFF;
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    color: #444;
    width: 100%;
    height: 48px;
    line-height: 48px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 18px;
   /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.collapse-button {
    position: absolute;
    left: 8px;
    top: 50%;
    width: 40px;
    background-repeat: repeat-x;
    color: #FFFFFF;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
